

#page1 {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;
}

.avatar-dot {
    width: 25px;
    height: 25px;
    border-radius: 60% 0% 60% 0%;
    background-color: green;
}

.avatar-img {
    border-radius: 100%;
    box-shadow: 1px 1px 10px #A8A8A8;
    border-radius: 30% 0% 30% 30%;
    padding: 2px;
}

.name {
    font-family: open-sans, sans-serif;
    font-weight: 800;
    font-size: 33px;
    text-align: center;
    color: #707070;
    margin: 0px;
    margin-top: 20px;
}

.profession {
    font-family: open-sans, sans-serif;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
    color: #707070;
    margin: 0px;
    margin-top: 10px;
}

.contact-Container {
    display: flex; 
    justify-content: center;
    margin-top: 25px;
    flex-wrap: wrap;
}

.contact {
    font-family: open-sans, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #A8A8A8;
    font-size: 19px;
    margin: 5px 10px;
    text-decoration: none;
}

.contact-icon {
    color: green;
}

.summary {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

.body-copy {
    font-family: roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #A8A8A8;
    width: 600px;
    margin: 0px;
    line-height: 22px;
}

.technologies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.icon {
    width: 50px;
    height: 50px;
    padding: 20px;
    margin: 0px 20px;
    border-radius: 50% 0% 50% 0%;
    margin-top: 20px;
    background-color: green;
    color: white;
    text-align: center;
    box-shadow: 1px 1px 10px #a8a8a8;
}

.tech-icon-tags {
    text-align: center;
    margin: 8px;
    font-weight: normal;
    font-size: 12px;
    color: #707070;
}

#page2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
    color: #707070;
    font-family: open-sans, sans-serif;
    font-weight: bold;
    font-size: 38px;
    margin: 80px 0px 30px 0px;
}

#page2 > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.proficiencies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin:50px 15px;
    height: 300px;
    padding: 15px;
    border-radius: 30%;
    box-shadow: inset 1px 1px 10px rgb(153, 149, 216);

}



.proficiencies > img {
    width: 40%
}

.proficiencies > h2 {
    color: #707070;
    font-weight: bold;
    font-family: open-sans, sans-serif;
    font-size: 21px;
}

.proficiencies > p {
    color: #A8A8A8;
    font-weight: normal;
    font-family: roboto, sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

#page3 {

}


.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 5%;
    flex-wrap: wrap;
}

.card {
    width: 320px;
    margin: 30px 20px;
    padding: 15px;
    border-radius: 15% 15% 40% 20%;
    box-shadow: 1px 1px 10px #a8a8a8;
    height: 400px;
    background-color: rgb(247, 234, 218);
}

.card-title {
    color: #707070;
    font-weight: bold;
    font-family: open-sans, sans-serif;
    font-size: 21px;
    margin: 0px;
}

.card:hover {
    box-shadow: 1px 1px 10px #dbac8d;
    background-color: rgb(255, 255, 255);
}

.card > img {
    width: 320px;
    height: 180px;
    margin-top: 10px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0px 0px 3px #A8A8A8;
}

.card > h2 {
    /* border: 1px solid black; */
    margin-top: 30px;
    padding: 0px 30px;
    font-size: 18px;
    font-family: open-sans, sans-serif;
    font-weight: 600;
    color: #5D86B4;
}

.card > p {
    /* border: 1px solid black; */
    padding: 0px 30px;
    font-size: 12px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    color: #A8A8A8;
}

.card-icons {
    padding: 0px 30px;
    margin: 30px 0px 10px 0px;
}

.card-icons > img {
    width: 30px;
}

.card-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
}

.card-button {
    padding: 7px;
    outline: none;
    width: 120px;
    border-radius: 3px;
    margin-left: 10px;
}

.github-button {
    background-color: #f7f7f7;
    color: #402f00;
    font-weight: bold;
    border: 1px solid #402f00;
    cursor: pointer;
}

.live-button {
    background-color: #e53f41;
    color: #f7f6f6;
    font-weight: bold;
    border: 1px solid white;
    cursor: pointer;
}

#page4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


#badges {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    border-radius: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
    box-shadow: inset 1px 1px 10px rgb(141, 141, 141);
    background-color: rgb(211, 226, 204)
}



#badges > div {
    width: 180px;
    height: 180px;
    margin: 2%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px rgb(165, 165, 165);
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(115, 170, 113), rgb(211, 226, 204));
}

#badges > div > h1 {
    /* border: 1px solid black; */
    box-shadow: inset 3px 3px 3px rgb(165, 165, 165);
    width: 125px;
    height: 130px;
    border-radius: 50%;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 90, 90);
    font-size: 35px;
    text-align: center;
    font-family: font-family: open-sans, sans-serif;
}


#badges > div > h1+div {
    /* border: 1px solid black; */
    box-shadow: inset 3px 3px 3px rgb(165, 165, 165);
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(90, 90, 90);
}

#badges > div > h1+div > h2 {
    margin: 0px; 
    font-size: 18px;
    text-align: right;
    width: 90px;
    padding-right: 10px;
    font-family: open-sans, sans-serif;
}

#badges > div > h1+div > p {
    margin: 0px; 
    text-align: right;
    width: 80px;
    font-family: open-sans, sans-serif;
}

.git-commit-cont {
    margin-top: 150px;
    border-radius: 30px;
    width: 700px;
    height: 170px;
    /* border: 1px solid black; */
    padding: 20px;
    box-shadow: inset 1px 1px 7px rgb(122, 122, 122);
    background-color: rgb(211, 226, 204);
}

.git-commit-cont > img {
    width: 700px;
    border-radius: 20px;
}

.git-commit-cont > h1 {
    margin:0px;
    text-align: center;
    color: rgb(90, 90, 90);
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: open-sans, sans-serif;
}

.git-commit-cont > h1 > span:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
}

.git-commit-cont > h1 > span:nth-child(2) {
    font-size: 14px;
    font-weight: normal;
}

.commit-wrapper {
    width: 1000px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 5px solid #707070;
    border-left: 5px solid #707070;
    border-bottom: 5px solid #707070;
    border-radius: 0% 0% 20px 20px;
    border-color: rgb(115, 170, 113);
}